
.contents
  .header 
  %p.header__text
    グループを作成しました
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          user-name
        %ul.side-header__box__menu
          = fa_icon 'edit'
          = fa_icon 'cog'
    .groups
      .group
        %p.group__name
          group-name
        %p.group__message
          こんにちは
  .chat-main
    .main-header 
      .main-header__box
        %p.main-header__box__group-name 
          test-group 
        %p.main-header__box__member
          member 
      .main-header__edit 
        edit
    .messages
      .message
        .message__user__info
          %p.message__user__info__name
            test-user
          %p.message__user__info__date
            2019/8/7
        %p.message__text
          こんにちは！
      .message-second 
        .message-second__user__info 
          %p.message-second__user__info__name
            test-user 
          %p.message-second__user__info__date
            2019/8/7
        %p.message-second__text
          さようなら
    .form 
      %form.new__message
        .input__box
          %input.input__box__text{type: "text", placeholder: "type a message", id: "message_content"}
          %label.input__box__image{for: "message_image"}
            = fa_icon "image"
            %input.input__box__image__file{ type:"file", id: "message_image"}
        %input.new__message__btn{type: "submit", value: "Send"}
        