* {
  box-sizing: border-box;
}

@mixin user__info-date {
  font-size: 12px;
  color: #999999;
}

@mixin user__info-name {
  font-size: 16px;
  font-weight: bold;
  color: #434a54;
}

@mixin user__info-text {
  font-size: 14px;
  color: #434a54;
}

<<<<<<< Updated upstream
=======
.flash-box {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}
>>>>>>> Stashed changes
.contents {
    .header {
      &__text {
        background: #38ae;
    color: white;
    width: 100vw;
    text-align: center;
    height: 20px;
    line-height: 20px;
      }
    } 
  .chat-side {
    width: 300px;
    float: left;
    color: $white;
    .side-header {
      height: 100px;
      background: #253141;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__box {
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
      }
    }
    .groups {
      height: calc(100vh - 140px);
      background: #2f3e51;
      padding: 20px 20px 0;
<<<<<<< Updated upstream
=======
      height: calc(100vh - 100px);
      box-sizing: border-box;
      overflow: scroll;
>>>>>>> Stashed changes
      .group {
        padding-bottom: 40px;
        &__name {
          padding-bottom: 5px;
          font-size: 15px;
          font-weight: bold;
        }
        &__message {
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
  }
  .chat-main {
    width: calc(100vw - 300px);
    float: left;
    .main-header {
      height: 100px;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee;
      display: flex;
      justify-content:space-between;
      &__box {
        padding-top: 35px;
        &__group-name {
          padding-bottom: 15px;
          font-size: 20px;
          color: #333333;
        }
        &__member {
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit {
        margin-top: 28px;
        height: 40px;
        padding: 0 20px; 
        line-height: 40px;
        border: solid 1px blue;
        color: blue;
<<<<<<< Updated upstream
      }
    }
    .messages {
      padding: 46px 40px;
      height: calc(100vh - 303px);
=======
        line-height: 40px;
        text-decoration: none;
      }
    }
    .messages {
      height: calc(100vh - 100px - 90px);
>>>>>>> Stashed changes
      background: #fafafa;
      .message {
        padding-bottom: 40px;
        &__user__info {
          display: flex;
          &__name {
            @include user__info-name;
          }
          &__date {
            @include user__info-date;
          }
        }
        &__text {
          @include user__info-text;
        }
      }
<<<<<<< Updated upstream
      .message-second {
        &__user__info {
          display: flex;
          &__name {
            @include user__info-name;
          }
          &__date {
            @include user__info-date;
          }
        }
        &__text {
          @include user__info-text;
        }
      }
    }
    .form {
      height: 90px;
      background: gray;
      padding: 0 40px;
      .new__message {
=======
    }
    .form {
      height: 90px;
      background: #ddd;
      box-sizing: border-box;
      padding: 20px 40px;
      .new_message {
>>>>>>> Stashed changes
        display: flex;
        padding-top: 20px;
        .input__box {
          background: white;
          position: relative;
          width: 100%;
          &__text {
            height: 50px;
            width: 100%;
            border-style: none;
            padding-left: 10px;
            @include user__info-name;
          }
          &__image {
            position: absolute;
            padding-right: 10px;
            top: 10px;
            right: 10px;
            cursor: pointer;
            &__file {
              display: none;
            }
          }
        }
        &__btn {
          height:50px;
          width: 100px;
          background: blue;
          color: white;
          margin-left: 15px;
        }
      }
    }
  }
  .btn {
    color: white;
    text-decoration: none;
  }
}